/* .card{
    font-size: 20px;
    text-decoration: underline;
} 


.card{
    font-size: 20px;
    text-decoration: overline;
}

.card{
    font-size: 20px;
    text-decoration: line-through;
}
a{
    text-decoration: none;
} 
.card{
    font-size: 20px;
    text-transform: capitalize;
    text-indent:200px;
    text-decoration: dashed underline;
    text-align: center;
    text-shadow: 0 0 5px red;
} 
.card {
    height: 400px;
    font-size: 50px;
    background-color:red;
    text-decoration:line-through underline overline;
    text-transform : uppercase;
    text-transform: capitalize;
    text-indent: 200px;
    text-shadow: 0 0 5px green;
    overflow: auto;
    font-size:200%;
    
  font-family: system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 500px;
  vertical-align:top;


    font-style: normal;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

a {
    text-decoration: none;
}

.card-image{
    width: 100%;
}*/


/* .card
{
    width:600px;
    border:1px solid lightgrey;
    margin:auto;
}
.card-image{
    width:100%;
}

.card-content{
    padding:10px 20px;
    font-family: system-ui;
    font-size:18px;
    color:#333;
} */

.card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(139, 223, 159);
    width:600px;
    border:1px solid lightgrey;
    margin:100px auto;
    padding:100px 50px;
    border-radius: 14 px;
    font-size: 20px;
    
}
.card-heading{
    font-size:  50px; 
    font-weight:bold;
}
.card-text{
    margin-bottom: 30px ;
}