/* .card{
    font-size: 20px;
    text-decoration: underline;
} 


.card{
    font-size: 20px;
    text-decoration: overline;
}

.card{
    font-size: 20px;
    text-decoration: line-through;
}
a{
    text-decoration: none;
} 
.card{
    font-size: 20px;
    text-transform: capitalize;
    text-indent:200px;
    text-decoration: dashed underline;
    text-align: center;
    text-shadow: 0 0 5px red;
} 
.card {
    height: 400px;
    font-size: 50px;
    background-color:red;
    text-decoration:line-through underline overline;
    text-transform : uppercase;
    text-transform: capitalize;
    text-indent: 200px;
    text-shadow: 0 0 5px green;
    overflow: auto;
    font-size:200%;
    
  font-family: system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 500px;
  vertical-align:top;


    font-style: normal;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

a {
    text-decoration: none;
}

.card-image{
    width: 100%;
}*/


/* .card
{
    width:600px;
    border:1px solid lightgrey;
    margin:auto;
}
.card-image{
    width:100%;
}

.card-content{
    padding:10px 20px;
    font-family: system-ui;
    font-size:18px;
    color:#333;
} */
/* design start
.card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background-color: rgb(139, 223, 159);
    background-image: linear-gradient(to right,rgb(139, 223, 159),rgb(19, 160, 52));
    width:600px;
    border:1px solid lightgrey;
    margin:100px auto;
    padding:100px 50px;
    border-radius: 14px;
    /*font-size: 20px;
    box-shadow: 0 0 20px rgb(71, 65, 65);
    
}
.card-heading{
    font-size:  60px; 
    font-weight:bold;
}
.card-text{
    margin-top: 30px;
    margin-bottom: 30px ;
}
.button{
   border:1px solid lightgray;
    padding: 20px 40px;
    border-radius: 40px;
    font-size:20px;
    font-weight: bold;
    background-color: lightgray;
}

design end*/


/* design start 
.card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 600px;
    border: 1px solid lightgray;
    margin: 100px auto;
    border-radius: 14px;
}
.card-body{
    padding: 40px;

}
.card-heading{
    font-size: 20px;
}
.card-text{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
.card-img{
    width: 100px;
    border-radius: 50%;
    margin: 0 50px;
}

.card-footer{
    padding: 40px;
    border-top: 1px solid lightgrey ;
}

.card-link{
    text-decoration: none;
    font-size : 20px
}
design end  */
/* 
.card{
    border: 1px solid lightgrey;
    width: 600px;
    margin: 100px auto;
    border-radius: 14px;
}
.card-img{
    width: 100%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;

}
.card-body{
    padding: 30px;
}
.card-title{
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

.card-heading{
    margin:30px 0 ;
    font-size:50px;
    font-weight: 200;
} */

/* css7 */
/* .card{
    margin:100px auto;
    width:600px;
    /* background-color: red;
    padding:50px;
    position:sticky;
    top:50px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border:1px solid lightgray;
    padding:50px;
}
.card-img{
    width:100%;
    border-radius: 20px;
}
.card-heading{
    font-size:25px;
    position: absolute;
    top:150px;
    text-align: center;
    width: 100%;
    color: antiquewhite;
    
} */

/* css7 pratice one img 
.card{
    width:600px;
    margin: 200px auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:relative;
}
.card-image{
    width:100%;
}
.card-title{
    font-size: 30px;
    font-weight:bold;
    color: antiquewhite;
}
.card-title-large{
    font-size:  40px;
    font-weight:bold;
    color: antiquewhite;
}
.card-text{
   font-size:10px; 
   margin-top: 20px;
   color: antiquewhite;
}
.card-heading{
    position:absolute;
    top:150px;
}
done */

/* css8 pratice 
.card{
    display:flex;
    gap:10px;
    justify-content: space-around;
    flex-wrap: wrap;
    height:700px;
    background-color: red;
}
.card-item{
    background-color:lightgreen;
    font-size:100px;
    padding:10px;
    width:200px;
}
done */
/* .card{
    position: relative;
}
.card-text{
    position: absolute;
    top:350px;
    color: white;

} */
 /* .card{
    width:600px;
    margin: 200px auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:relative;
 } */
  /* body{
    background-color: lightgray;
    
  } */

  /* g sign in
.card{
    margin: 200px auto;
    width: 600px;
    background-color: white;
    padding: 50px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}
.card-text{
    margin-top: 20px;
    background-color: lightgreen;
}
.card-input{
   color: blue;
}
.card-button{
    color: blue;
    margin-right: 0px;
    
}
.card-button1{
    color: blue;
    margin-left: 100px;
    
} */

/* pk start
.card{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 100px auto;
}
.card1{
    width: 100%;

}
.image1{
    width: 120px;
    border-radius: 50%;
}
.card2{
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 100px;
    left:50px;
}
.text{
    margin: 0;
    padding: 0;

}
.text1{
    text-align: center;

}
.pk{
    text-align: center;
}
pk end */

*{
    box-sizing: border-box;
}
/* .card{
    border: 2px solid lightgray;
    width: 400px;
    margin: 100px auto;
    border-radius: 14px;
    position: relative;
    
}
.card1-img{  
    width: 100%;
    border-radius: 35px;
    padding: 14px;
}
.card2{
       position:relative;
}
.card2-text{
    right: 200px;
} */

/* ------------1-----------------
.card{
    border:2px solid lightgray;
    border-radius: 25px;
    
        width: 600px;   
}
.card-img{
    position: relative;
    width:100%;
    border-radius: 25px;
    padding: 14px;
}
.card-headtitle{
    position: absolute;
    font-size: 25px;
    top: 33px;
    left: 30px;
    background-color: rgba(237, 232, 232, 0.608);
    padding: 10px;
    border-radius: 10px;
}
.card-headfooter{
    position: absolute;
    font-size: 20px;
    top: 330px;
    left: 24px;
    background-color: rgb(13, 52, 224);
    padding: 10px;
    color: white;
}
.card-headtext{
    position: absolute;
    font-size: 20px;
    top: 330px;
    left: 500px;
    background-color: rgba(242, 236, 236, 0.914);
    padding: 10px;
    border-radius: 10px;
}
.card-heading{
    margin-top: 5px;
    margin-left: 15px;
}
.card-text{
    margin-top: 20px;
    margin-left: 15px;
    font-size:20px
}
.card-footer{
    display: flex;
   justify-content: space-between;
   
    border-top: 1px solid lightgray;
}
.card-footerimg{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    width: 100px;
    
}
.card-footer2{
    margin-top:60px;
    margin-right: 185px;
    font-size: 18px;
}
------------1----------------- */


